/* Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variables */
:root {
  --primary-color: rgb(100, 92, 255);
  --primary-color-darker: rgb(73, 64, 234);
  --primary-color-lighter: rgb(135, 129, 245);
  --primary-color-opacity-half: rgba(100, 92, 255, 0.5);
  --primary-text-color: rgb(14, 23, 42);
  --white-color: rgb(255, 255, 255);
  --background-color: rgb(248, 251, 252);
  --background-dark: rgb(33, 33, 33);
}

/* Universal styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 2rem;
}

h2 {
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.75rem;
  text-align: center;
  padding: 2rem 0 2rem 0;
  color: var(--primary-text-color);
}

h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-text-color);
}

h4 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-text-color);
}

p {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--primary-text-color);
}

/* Global classes */

.container-center {
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0 5rem 0;
}

.main-color {
  color: var(--primary-color);
}

/* Header */
/* Navigation */
header {
  background: linear-gradient(rgb(100, 92, 255), rgb(100, 92, 255));
  min-height: 100vh;
}

nav {
  background-color: var(--white-color);
  height: 60px;
}

.nav-center {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-header p {
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 800;
}

.links {
  display: none;
}

.social-icons ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.social-icons li {
  margin-left: 0.8rem;
}

.soc-icon i {
  color: var(--primary-color);
  transition: color 500ms;
}


/* Hero */
.hero {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.hero-container {
  color: var(--white-color);
  width: 80%;
}


.hero-container p {
  line-height: 2;
  padding: 1.5rem 0;
  color: var(--white-color);
}

.hero-container a {
  padding: 0.4rem 0.6rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(14, 23, 42, 0.134);
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white-color);
  transition: background-color 500ms;
}

@media (min-width: 992px) {
  nav {
    height: 80px;
  }
  .links {
    display: block;
  }
  .links ul {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .links ul li {
    margin-right: 0.75rem;
  }
  .links ul a {
    color: var(--primary-text-color);
    text-transform: capitalize;
    font-size: 0.75rem;
    font-weight: 800;
    transition: color 500ms;
  }
  .links ul a:hover {
    color: var(--primary-color-lighter);
  }
  .soc-icon i:hover{
    color: var(--primary-color-lighter);
  }
  header {
    background: linear-gradient(rgba(73, 67, 183, 0.906),rgba(0, 0, 0, 0.597)),
    url(./images/willian-justen-de-vasconcellos-u9X8uBjuIcs-unsplash.webp) center/cover no-repeat;
  }
  .hero-container h1 {
    font-size: 3rem;
  }
  .hero-container p {
    padding: 1.5rem 12rem;
  }
  .hero-container a {
    background-color: var(--primary-color);

  }
  .hero-container a:hover {
    background-color: var(--primary-color-darker);
  }
}

/* About */
#about .text-container h3 {
  padding: 3rem 0 1rem 0;
}

#about .text-container p {
  line-height: 1.5;
}

#about .text-container a {
  font-size: 0.8rem;
  font-weight: 600;
}

@media (min-width: 992px) {
  #about .about-container {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  #about .image-container {
    width: 50%;
    border: 0.5rem solid var(--primary-color);
    border-radius: 0.3rem;
  }
  #about .text-container {
    width: 50%;
  }
  #about .image-container img {
    transform: translate(25px, 25px);

  }
  #about .text-container h3 {
    padding: 0 0 1rem 0;
  }
}

/* Services */
#services {
  background-color: var(--background-color);
}

#services .services-container {
  display: grid;
  justify-items: center;
  grid-template: 1fr 1fr / 1fr 1fr;
  text-align: center;
  gap: 1.5rem 1rem;
}

#services .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services .icon-container {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 45px;
}

#services .icon-container i {
  color: var(--primary-text-color);
  font-size: 1.5rem;
}

#services .text-container h4 {
  margin: 1rem 0 1.15rem 0;
}

@media (min-width: 992px) {
  #services .services-container {
    grid-template: 1fr / 1fr 1fr 1fr;
    text-align: left;
  }
  #services .box {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }

  #services .text-container h4 {
    margin: 0.1rem 0 0.5rem 0;
  }
}

/* Featured Tours */
#featured .tours-container {
  display: grid;
  grid-template: auto;
  gap: 1.5rem;
}

#featured .card {
  box-shadow: 0 1px 2px rgba(14, 23, 42, 0.134);
  transition: box-shadow 500ms;
}

#featured .card .image-container {
  aspect-ratio: 3 / 2;
}

#featured .card:nth-child(1) .image-container {
  background: url(./images/raimond-klavins-L6jxljMeUoo-unsplash.webp) center/cover no-repeat;
}

#featured .card:nth-child(2) .image-container {
  background: url(./images/nanda-firdaus-mjr_5_ntTf8-unsplash.webp) center/cover no-repeat;
}

#featured .card:nth-child(3) .image-container {
  background: url(./images/ryan-mac-kCABKZBt4Gk-unsplash.webp) center/cover no-repeat;
}

#featured .card:nth-child(4) .image-container {
  background: url(./images/sergey-pesterev-DWXR-nAbxCk-unsplash.webp) center/cover no-repeat;
}

#featured .image-container p {
  background-color: var(--primary-color);
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
}

#featured .card h4 {
  margin: 1rem 0.85rem;
  text-transform: capitalize;
}

#featured .text-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.85rem 1.5rem 0.85rem;
}

#featured .icon-country i {
  color: var(--primary-color);
}

#featured .icon-country p {
  color: var(--primary-color);
  display: inline-block;
}

#featured .container-center > a {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 3rem 0;
  text-align: center;
  display: block;
}

@media (min-width: 992px) {
  #featured .tours-container {
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 3rem 1.5rem;
  }
  #featured .container-center > a {
    margin: 5rem 0 0 0;
  }
  #featured .card:hover {
    box-shadow: 0 2px 10px rgba(14, 23, 42, 0.353);
  }
}

/* Our Gallery */
#gallery .container-center {
  width: 100%;
  padding: 0.5rem 0 0 0;
}

#gallery h2 {
  background-color: var(--background-color);
}

#gallery .gallery-container {
  background-color: var(--primary-color);
}

#gallery .gallery-container {
  display: grid;
  grid-template: auto;
  row-gap: 0.25rem;
}

#gallery .image-container {
  aspect-ratio: 3 / 2;
}

#gallery .image-container:nth-child(1) {
  background: url(./images/raimond-klavins-L6jxljMeUoo-unsplash.webp) center/cover no-repeat;
}

#gallery .image-container:nth-child(2) {
  background: url(./images/nanda-firdaus-mjr_5_ntTf8-unsplash.webp) center/cover no-repeat;
}

#gallery .image-container:nth-child(3) {
  background: url(./images/ryan-mac-kCABKZBt4Gk-unsplash.webp) center/cover no-repeat;
}

#gallery .image-container:nth-child(4) {
  background: url(./images/sergey-pesterev-DWXR-nAbxCk-unsplash.webp) center/cover no-repeat;
}

#gallery .inner-img-container {
  display: none;
}

@media (min-width: 992px) {
  #gallery .gallery-container {
    grid-template: 1fr / repeat(4, 1fr);
  }
  #gallery .inner-img-container {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-opacity-half);
    backdrop-filter: blur(2px);
  }
  #gallery .inner-img-container i {
    color: var(--white-color);
    font-size: 2rem;
    cursor: pointer;
  }
  #gallery .image-container:hover .inner-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Newsletter section */
#newsletter {
  background-color: var(--primary-color);
}

#newsletter .container {
  padding: 0 0.75rem;
}

#newsletter .text-container h2 {
  color: var(--white-color);
}

#newsletter .text-container p {
  color: var(--white-color);
  font-size: 1rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0.75rem;
}

#newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newsletter form .email {
  display: flex;
  padding-bottom: 3rem;
}

#newsletter input[name="email"] {
  width: 175px;
  height: 25px;
  border: none;
}

#newsletter input[name="email"]::placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0;
  padding-left: 0.5rem;
  color: var(--primary-text-color);
}

#newsletter input[type="submit"] {
  width: 70px;
  height: 25px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0;
  background-color: rgb(227, 227, 227);
  color: var(--primary-text-color);
  border: 1px solid white;
  cursor: pointer;
}

@media (min-width: 992px) {
  #newsletter .container {
    display: flex;
  }
  #newsletter .text-container {
    flex-grow: 1;
  }
  #newsletter form {
    flex-grow: 1;
  }
  #newsletter form .email {
    padding-bottom: 0;
  }
  #newsletter input[name="email"] {
    width: 300px;
  }
  #newsletter .text-container p {
    margin-bottom: 3rem;
  }
}

/* Footer */
footer {
  background-color: var(--background-dark);
}
.footer-container {
  padding: 3rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-links {
  display: block;
}

.footer-links ul {
  display: flex;
}
.footer-links ul li {
  margin-right: 0.75rem;
}
.footer-links ul a {
  color: var(--background-color);
  text-transform: capitalize;
  font-size: 0.75rem;
  font-weight: 800;
  transition: color 500ms;
}

.footer-links ul a:hover {
  color: var(--primary-color-lighter);
}

.footer-icons ul {
  display: flex;
  align-items: center;
}

.footer-icons li {
  margin-left: 0.8rem;
}

.footer-icons .soc-icon i {
  color: var(--primary-color);
  transition: color 500ms;
}

.footer-icons .soc-icon i:hover {
  color: var(--primary-color-lighter);
}

.footer-container .text-container p {
  color: var(--background-color);
  text-transform: capitalize;
}






